---
import { t, changeLanguage } from "i18next";
import Base from "@layouts/Base.astro";

interface Props {
  locale?: string;
}

const { locale = "en" } = Astro.props;
changeLanguage(locale);

const otherLanguagePath = locale === "ja" ? "/combolab" : "/ja/combolab";
const pagePath = locale === "ja" ? "/ja/combolab" : "/combolab";
const previewImage = locale === "ja" ? "/combolab/cover-ja.jpg" : "/combolab/cover.jpg";
const screenshot = locale === "ja" ? "/combolab/screenshot-ja.png" : "/combolab/screenshot.png";

const today = new Date();
const googlePlayLink = "https://play.google.com/store/apps/details?id=net.four.rays.combolab";
---
<Base 
  title={t("combolab.title")}
  description={t("combolab.description")}
  previewImage={previewImage}
>
  <main>
    <img class="screenshot" src={screenshot} alt="Combolab Screenshot">

    <header>
      <div class="logo-container">
        <img class="icon" src="/combolab.png" alt="Combolab Icon">
        <h1 class="logotype">Combolab</h1>
      </div>
      <h2 class="subheadline">
        {t("combolab.subheadline")}
      </h2>
      <p class="tagline">{t("combolab.intro")}</p>
    </header>

    <div class="download-section">
      <a href={googlePlayLink}><img alt="Get it on Google Play" src="/google-play.png" /></a>

      <div class="coming-soon">
          {t("combolab.iosVersion")}
          <br>
          {t("combolab.comingSoon")}
      </div>
    </div>

    <div class="features">
      <div class="feature">
        <h3>{t("combolab.exploreMoves")}</h3>
        <p>{t("combolab.exploreMovesDescription")}</p>
      </div>
      <div class="feature">
        <h3>{t("combolab.frameData")}</h3>
        <p>{t("combolab.frameDataDescription")}</p>
      </div>
      <div class="feature">
        <h3>{t("combolab.manageCombos")}</h3>
        <p>{t("combolab.manageCombosDescription")}</p>
      </div>
      <div class="feature">
        <h3>{t("combolab.privateOffline")}</h3>
        <p>{t("combolab.privateOfflineDescription")}</p>
      </div>
    </div>
  </main>
  <footer>
    <p>
      {t("combolab.copyrightNotice")}
    </p>
    <br>
    <p class="legal p-2">
      <a class="underline" href={otherLanguagePath}>{t("combolab.otherLanguage")}</a> &bull;
      <a class="underline" href={`${pagePath}/privacy`}>{t("combolab.privacyPolicy")}</a> &bull;
      <a class="underline" href={`${pagePath}/terms`}>{t("combolab.termsOfUse")}</a> &bull;
      <a class="underline" href={`${pagePath}/eula`}>{t("combolab.eula")}</a>
    </p>
    <p>
      &copy; 2020-{today.getFullYear()} Four Rays AB.
    </p>
  </footer>
</Base>

<style>
@custom-media --small-viewport (max-width: 38em);

:root {
  --color-primary-component: 134, 29, 255;
  --color-secondary-component: 255, 106, 0;
  --color-tertiary-component: 255, 213, 150;

  --color-secondary: rgb(255, 106, 0);
  --color-primary: rgb(134, 29, 255);
  --color-tertiary: rgb(255, 213, 150);
}

html {
  font-family: system-ui, sans-serif;
  background: rgb(134, 29, 255);
}

body {
  min-height: 100vh;
  backdrop-filter: blur(2px); 
  background: 
    linear-gradient(
      90deg,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, .8),
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, .8),
      rgba(0, 0, 0, 0)
    ),
    url("/combolab/background.jpg") no-repeat center center fixed; 
  background-size: cover;

  @media (--small-viewport) {
    border-radius: 1rem;
    background: 
      linear-gradient(
        90deg,
        rgba(0, 0, 0, .8),
        rgba(0, 0, 0, .8)
      ),
      url("/combolab/background.jpg") no-repeat center center fixed; 
    background-size: cover;
  }
}

main {
  color: white;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.6;
}

.screenshot {
  max-width: 30rem;
  display: block;
  margin: 0 auto;
  margin-top: -9rem;
  width: 100%;

  @media (--small-viewport) {
    margin-top: -6.5rem;
  }
}

header {
  text-align: center;
  margin-top: 2rem;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 4rem;

  & span {
    display: block;
  }

  @media (--small-viewport) {
    margin: 3rem 0;
  }
}

.logotype {
  color: var(--color-tertiary);
  font-size: 5rem;
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1;
  text-shadow: 
    .05em .05em 0 rgb(var(--color-secondary-component), .6),
    .1em .1em 0px  rgb(var(--color-primary-component), .6);
  margin: 0;

  @media (--small-viewport) {
    font-size: 3rem;
  }
}

.subheadline {
  color: var(--color-secondary);
  font-size: 1.2rem;
  font-weight: normal;
  letter-spacing: .1em;
  margin: 0;
  text-transform: uppercase;
}

.tagline {
  color: white;
  font-size: 2.5rem;
  line-height: 1.2;
  padding: .2rem 2rem;
  margin: .5rem auto .1rem;
  max-width: 30rem;

  @media (--small-viewport) {
    font-size: 2rem;
  }
}

.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.feature {
  background-color: black;
  border-radius: 1rem;
  box-shadow: 0 0 4rem var(--color-primary);
  border: 2px solid rgb(211, 173, 255);
  flex: 1 1 20rem;
  margin: .5rem;
  padding: 1.5rem;
  text-align: center;

  & p {
    clor: rgb(211, 173, 255);
    font-family: "Courier New", Courier, monospace;
    font-size: .8rem;
    font-weight: normal;
    line-height: 1.5;
    margin: 0;
  }

  @media (--small-viewport) {
    flex: 1 1 100%;
  }
}

.icon {
  width: 5rem;
  margin-right: 1rem;
  display: block;
  border-radius: 1.2rem;

  @media (--small-viewport) {
    width: 3rem;
    border-radius: .8rem;
  }
}

h3 {
  color: var(--color-tertiary);
  font-size: .9rem;
  font-weight: normal;
  letter-spacing: .1em;
  margin-bottom: .6rem;
  text-transform: uppercase;
}

.download-section {
  display: flex;
  justify-content: center;
  margin: 6rem auto;
  max-width: 30rem;
  flex-wrap: wrap;

  @media (--small-viewport) {
    margin: 3rem auto;
  }

  & a {
    margin: 0 auto;
    flex: 0 1 calc(50% - 1rem);
  }

  & .coming-soon {
    border-radius: .5rem;
    border: 1px solid var(--color-tertiary);
    color: var(--color-tertiary);
    display: flex;
    flex: 0 1 calc(50% - 1rem);
    font-size: .9rem;
    font-weight: normal;
    justify-content: center;
    letter-spacing: .1em;
    opacity: .7;
    padding: .5rem;
    text-align: center;
  }

  @media (--small-viewport) { /* Add this block */
    & a {
      flex: 0 1 100%;
      max-width: 16rem;
    }

    & .coming-soon {
      flex: 1 1 100%;
      max-width: 16rem;
      margin-top: 1rem;
    }
  }
}

footer {
  color: var(--color-tertiary);
  font-size: 0.6rem;
  letter-spacing: .1em;
  margin: auto;
  max-width: 30rem;
  opacity: .8;
  padding: 5rem 1rem 2rem;
  text-align: center;
  text-transform: uppercase;
}
</style>
